* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: aquamarine;
}

.sekcja {
    height: calc(100% - 54px);
    width: 100%;
}

#raz {
    position: relative;
}

#dwa {
    background-color: blueviolet;
}

#trzy {
    background-color: cadetblue;
}

.nodisplay {
    display: none;
}

.display {
    display: block;
}

.slideshow-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease-in-out;
}

.slideshow__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
    /* transform: translateX(0); */
    transition: transform 1s ease-in-out;
}

.slideshow__img__next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    animation-name: toLeft;
    animation-duration: 1s;
    transform: translateX(100%);

    @keyframes toLeft {
        from {transform: translateX(100%)};
        to {transform: translateX(0)}
    }
    /* transform: translateX(100%); */
    /* transition: transform 1s ease-in-out; */
}

.left-button {
    position: absolute;
    top: 40%;
    left: 20px;
    cursor: pointer;
}

.right-button {
    position: absolute;
    top: 40%;
    right: 20px;
    cursor: pointer;
}

.left-button-image {
    height: 40px;
    width: 40px;
    background-image: url('./images/left.png');
    background-position: center;
    background-size: cover;
    background-color: black;
}

.right-button-image {
    height: 40px;
    width: 40px;
    background-image: url('./images/right.png');
    background-position: center;
    background-size: cover;
    background-color: black;
}