* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: aquamarine;
}

.sekcja {
    height: calc(100% - 54px);
    width: 100%;
}

#raz {
}

#dwa {
    background-color: blueviolet;
}

#trzy {
    background-color: cadetblue;
}

.nodisplay {
    display: none;
}

.display {
    display: block;
}

.slideshow {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}

.slideshow__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
