* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Overpass', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 2;
    color: white;
}

.nav-center {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

li {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    transition: 0.6s;
}

li:hover {
    cursor: pointer;
    color: gray;
}

.social-holder {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facebook {
    width: 40px;
    height: 40px;
    background-image: url('./images/facebook-new.png');
    background-position: center;
    background-size: cover;
}

.instagram {
    width: 40px;
    height: 40px;
    background-image: url('./images/instagram-new.png');
    background-position: center;
    background-size: cover;
}

.home-section {
    /* display: none; */
}

.home-content {
    position: relative;
    top: 150px;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
}

.home-title {
    color: white;
    font-size: 56px;
    font-weight: 700;
    margin: 0;
}

.surname {
    position: relative;
    bottom: 20px;
}

h3 {
    color: red;
    font-size: 24px;
    letter-spacing: 2px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}